header {
  min-height: 15vh;
  max-height: 15vh;
  background: #bec989;
  margin: 0;
  padding: 0;
}

header h1 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  padding: 1.25em;
}

header h1:hover {
  text-transform: uppercase;
}
